@font-face {
  font-family: "gaiasky-icons";
  src: url('gaiasky-icons.eot?t=1762934210970'); /* IE9*/
  src: url('gaiasky-icons.eot?t=1762934210970#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('gaiasky-icons.woff2?t=1762934210970') format('woff2'),
  url('gaiasky-icons.woff?t=1762934210970') format('woff'),
  url('gaiasky-icons.ttf?t=1762934210970') format('truetype'),
  url('gaiasky-icons.svg?t=1762934210970') format('svg');
}

[class^="gs-"], [class*=" gs-"] {
  font-family: 'gaiasky-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.gs-bi-windows::before { content: "\ea01"; }
.gs-bx-globe::before { content: "\ea02"; }
.gs-bxs-chip::before { content: "\ea03"; }
.gs-carbon-edge-cluster::before { content: "\ea04"; }
.gs-cib-mozilla::before { content: "\ea05"; }
.gs-clarity-data-cluster-line::before { content: "\ea06"; }
.gs-clarity-file-zip-solid::before { content: "\ea07"; }
.gs-clarity-language-line::before { content: "\ea08"; }
.gs-clarity-language-solid::before { content: "\ea09"; }
.gs-clarity-objects-solid::before { content: "\ea0a"; }
.gs-codeberg::before { content: "\ea0b"; }
.gs-f7-arrow-2-circlepath-circle-fill::before { content: "\ea0c"; }
.gs-fa6-brands-apple::before { content: "\ea0d"; }
.gs-fa6-brands-creative-commons-by::before { content: "\ea0e"; }
.gs-fa6-brands-creative-commons-nc::before { content: "\ea0f"; }
.gs-fa6-brands-creative-commons-nd::before { content: "\ea10"; }
.gs-fa6-brands-creative-commons-sa::before { content: "\ea11"; }
.gs-fa6-brands-creative-commons::before { content: "\ea12"; }
.gs-fa6-brands-mastodon::before { content: "\ea13"; }
.gs-fa6-brands-square-bluesky::before { content: "\ea14"; }
.gs-fa6-brands-windows::before { content: "\ea15"; }
.gs-fa6-solid-landmark-dome::before { content: "\ea16"; }
.gs-fa7-solid-vr-cardboard::before { content: "\ea17"; }
.gs-famicons-hardware-chip-sharp::before { content: "\ea18"; }
.gs-fluent-video-360-20-filled::before { content: "\ea19"; }
.gs-game-icons-asteroid::before { content: "\ea1a"; }
.gs-game-icons-eclipse::before { content: "\ea1b"; }
.gs-game-icons-mesh-network::before { content: "\ea1c"; }
.gs-game-icons-stars-stack::before { content: "\ea1d"; }
.gs-gg-smartphone-chip::before { content: "\ea1e"; }
.gs-gis-360::before { content: "\ea1f"; }
.gs-gis-satellite::before { content: "\ea20"; }
.gs-github::before { content: "\ea21"; }
.gs-gitlab::before { content: "\ea22"; }
.gs-heroicons-cpu-chip-20-solid::before { content: "\ea23"; }
.gs-hugeicons-satellite::before { content: "\ea24"; }
.gs-ic-baseline-file-download::before { content: "\ea25"; }
.gs-ic-baseline-ondemand-video::before { content: "\ea26"; }
.gs-ic-baseline-panorama-photosphere::before { content: "\ea27"; }
.gs-ic-baseline-photo-camera::before { content: "\ea28"; }
.gs-ic-baseline-satellite-alt::before { content: "\ea29"; }
.gs-ic-baseline-videocam::before { content: "\ea2a"; }
.gs-ic-outline-broken-image::before { content: "\ea2b"; }
.gs-ic-outline-download-for-offline::before { content: "\ea2c"; }
.gs-ic-outline-insert-photo::before { content: "\ea2d"; }
.gs-ic-round-photo-camera::before { content: "\ea2e"; }
.gs-ic-sharp-laptop-windows::before { content: "\ea2f"; }
.gs-icon-park-outline-dome::before { content: "\ea30"; }
.gs-icon-park-solid-chip::before { content: "\ea31"; }
.gs-iconamoon-cloud-download-bold::before { content: "\ea32"; }
.gs-iconoir-gamepad::before { content: "\ea33"; }
.gs-iconoir-keyframe-align-horizontal-solid::before { content: "\ea34"; }
.gs-iconoir-keyframe-position-solid::before { content: "\ea35"; }
.gs-la-creative-commons-by::before { content: "\ea36"; }
.gs-la-creative-commons-nc::before { content: "\ea37"; }
.gs-la-creative-commons-nd::before { content: "\ea38"; }
.gs-la-creative-commons-sa::before { content: "\ea39"; }
.gs-la-creative-commons::before { content: "\ea3a"; }
.gs-la-cubes::before { content: "\ea3b"; }
.gs-lsicon-filter-filled::before { content: "\ea3c"; }
.gs-lsicon-list-filled::before { content: "\ea3d"; }
.gs-lsicon-path-filled::before { content: "\ea3e"; }
.gs-lsicon-picking-path-filled::before { content: "\ea3f"; }
.gs-majesticons-article::before { content: "\ea40"; }
.gs-majesticons-globe-grid::before { content: "\ea41"; }
.gs-majesticons-map-marker-path-line::before { content: "\ea42"; }
.gs-material-symbols-360::before { content: "\ea43"; }
.gs-material-symbols-alternate-email::before { content: "\ea44"; }
.gs-material-symbols-arrow-circle-down::before { content: "\ea45"; }
.gs-material-symbols-arrow-circle-left::before { content: "\ea46"; }
.gs-material-symbols-arrow-circle-right::before { content: "\ea47"; }
.gs-material-symbols-arrow-circle-up::before { content: "\ea48"; }
.gs-material-symbols-book::before { content: "\ea49"; }
.gs-material-symbols-bookmark::before { content: "\ea4a"; }
.gs-material-symbols-box-outline::before { content: "\ea4b"; }
.gs-material-symbols-box::before { content: "\ea4c"; }
.gs-material-symbols-cloud-download-rounded::before { content: "\ea4d"; }
.gs-material-symbols-cloud::before { content: "\ea4e"; }
.gs-material-symbols-conversion-path::before { content: "\ea4f"; }
.gs-material-symbols-desktop-windows-outline-rounded::before { content: "\ea50"; }
.gs-material-symbols-desktop-windows-sharp::before { content: "\ea51"; }
.gs-material-symbols-docs::before { content: "\ea52"; }
.gs-material-symbols-engineer::before { content: "\ea53"; }
.gs-material-symbols-filter-alt-outline::before { content: "\ea54"; }
.gs-material-symbols-filter-alt::before { content: "\ea55"; }
.gs-material-symbols-gamepad::before { content: "\ea56"; }
.gs-material-symbols-laptop-windows-outline-sharp::before { content: "\ea57"; }
.gs-material-symbols-license::before { content: "\ea58"; }
.gs-material-symbols-light-360::before { content: "\ea59"; }
.gs-material-symbols-light-photo-frame-rounded::before { content: "\ea5a"; }
.gs-material-symbols-light-satellite-alt-rounded::before { content: "\ea5b"; }
.gs-material-symbols-mail-outline::before { content: "\ea5c"; }
.gs-material-symbols-mail-rounded::before { content: "\ea5d"; }
.gs-material-symbols-nightlight-badge-rounded::before { content: "\ea5e"; }
.gs-material-symbols-orbit::before { content: "\ea5f"; }
.gs-material-symbols-planet-outline::before { content: "\ea60"; }
.gs-material-symbols-satellite-alt-outline-sharp::before { content: "\ea61"; }
.gs-material-symbols-satellite-alt-rounded::before { content: "\ea62"; }
.gs-material-symbols-satellite-alt::before { content: "\ea63"; }
.gs-material-symbols-search-rounded::before { content: "\ea64"; }
.gs-material-symbols-texture-rounded::before { content: "\ea65"; }
.gs-material-symbols-texture::before { content: "\ea66"; }
.gs-mdi-application-braces-outline::before { content: "\ea67"; }
.gs-mdi-application-braces::before { content: "\ea68"; }
.gs-mdi-application-brackets-outline::before { content: "\ea69"; }
.gs-mdi-application-brackets::before { content: "\ea6a"; }
.gs-mdi-arch::before { content: "\ea6b"; }
.gs-mdi-archive::before { content: "\ea6c"; }
.gs-mdi-arrow-left-bold-box-outline::before { content: "\ea6d"; }
.gs-mdi-arrow-left-bold-box::before { content: "\ea6e"; }
.gs-mdi-arrow-left-bold-circle-outline::before { content: "\ea6f"; }
.gs-mdi-arrow-left-bold-circle::before { content: "\ea70"; }
.gs-mdi-arrow-left-bold::before { content: "\ea71"; }
.gs-mdi-arrow-left-bottom-bold::before { content: "\ea72"; }
.gs-mdi-arrow-left-top-bold::before { content: "\ea73"; }
.gs-mdi-arrow-left-top::before { content: "\ea74"; }
.gs-mdi-arrow-right-bold-box-outline::before { content: "\ea75"; }
.gs-mdi-arrow-right-bold-box::before { content: "\ea76"; }
.gs-mdi-arrow-right-bold-circle-outline::before { content: "\ea77"; }
.gs-mdi-arrow-right-bold-circle::before { content: "\ea78"; }
.gs-mdi-arrow-right-bold::before { content: "\ea79"; }
.gs-mdi-arrow-u-down-left-bold::before { content: "\ea7a"; }
.gs-mdi-arrow-u-down-right-bold::before { content: "\ea7b"; }
.gs-mdi-arrow-u-left-bottom-bold::before { content: "\ea7c"; }
.gs-mdi-arrow-u-left-top-bold::before { content: "\ea7d"; }
.gs-mdi-arrow-u-right-bottom-bold::before { content: "\ea7e"; }
.gs-mdi-arrow-u-right-top-bold::before { content: "\ea7f"; }
.gs-mdi-arrow-u-up-left-bold::before { content: "\ea80"; }
.gs-mdi-arrow-u-up-right-bold::before { content: "\ea81"; }
.gs-mdi-box-download::before { content: "\ea82"; }
.gs-mdi-briefcase-download-outline::before { content: "\ea83"; }
.gs-mdi-calendar::before { content: "\ea84"; }
.gs-mdi-card-account-mail-outline::before { content: "\ea85"; }
.gs-mdi-card-account-mail::before { content: "\ea86"; }
.gs-mdi-cog-transfer::before { content: "\ea87"; }
.gs-mdi-cpu-32-bit::before { content: "\ea88"; }
.gs-mdi-cpu-64-bit::before { content: "\ea89"; }
.gs-mdi-cube::before { content: "\ea8a"; }
.gs-mdi-database-outline::before { content: "\ea8b"; }
.gs-mdi-database::before { content: "\ea8c"; }
.gs-mdi-debian::before { content: "\ea8d"; }
.gs-mdi-dresser::before { content: "\ea8e"; }
.gs-mdi-email::before { content: "\ea8f"; }
.gs-mdi-face-woman-profile::before { content: "\ea90"; }
.gs-mdi-fedora::before { content: "\ea91"; }
.gs-mdi-file-code::before { content: "\ea92"; }
.gs-mdi-gamepad-variant::before { content: "\ea93"; }
.gs-mdi-git::before { content: "\ea94"; }
.gs-mdi-grid::before { content: "\ea95"; }
.gs-mdi-human-male-female-child::before { content: "\ea96"; }
.gs-mdi-keyboard-settings-outline::before { content: "\ea97"; }
.gs-mdi-keyboard-settings::before { content: "\ea98"; }
.gs-mdi-linux::before { content: "\ea99"; }
.gs-mdi-magnify-minus-outline::before { content: "\ea9a"; }
.gs-mdi-magnify-remove-outline::before { content: "\ea9b"; }
.gs-mdi-map-marker-multiple-outline::before { content: "\ea9c"; }
.gs-mdi-map-marker-multiple::before { content: "\ea9d"; }
.gs-mdi-monitor::before { content: "\ea9e"; }
.gs-mdi-orbit::before { content: "\ea9f"; }
.gs-mdi-panorama-sphere-outline::before { content: "\eaa0"; }
.gs-mdi-responsive::before { content: "\eaa1"; }
.gs-mdi-rotate-orbit::before { content: "\eaa2"; }
.gs-mdi-rss-box::before { content: "\eaa3"; }
.gs-mdi-rss::before { content: "\eaa4"; }
.gs-mdi-satellite-uplink::before { content: "\eaa5"; }
.gs-mdi-satellite-variant::before { content: "\eaa6"; }
.gs-mdi-script-text-outline::before { content: "\eaa7"; }
.gs-mdi-script-text::before { content: "\eaa8"; }
.gs-mdi-star-four-points::before { content: "\eaa9"; }
.gs-mdi-star-outline::before { content: "\eaaa"; }
.gs-mdi-star-shooting::before { content: "\eaab"; }
.gs-mdi-tag::before { content: "\eaac"; }
.gs-mdi-twitter-box::before { content: "\eaad"; }
.gs-mdi-virtual-reality::before { content: "\eaae"; }
.gs-mdi-weather-night::before { content: "\eaaf"; }
.gs-mdi-zip-box::before { content: "\eab0"; }
.gs-mingcute-chip-line::before { content: "\eab1"; }
.gs-mingcute-cube-3d-line::before { content: "\eab2"; }
.gs-mingcute-earth-2-line::before { content: "\eab3"; }
.gs-mingcute-pen-fill::before { content: "\eab4"; }
.gs-mingcute-pencil-fill::before { content: "\eab5"; }
.gs-mingcute-world-fill::before { content: "\eab6"; }
.gs-ph-graph-bold::before { content: "\eab7"; }
.gs-ph-graph::before { content: "\eab8"; }
.gs-ph-graphics-card-bold::before { content: "\eab9"; }
.gs-ph-graphics-card-duotone::before { content: "\eaba"; }
.gs-ph-graphics-card-fill::before { content: "\eabb"; }
.gs-ph-graphics-card::before { content: "\eabc"; }
.gs-raphael-clouddown::before { content: "\eabd"; }
.gs-raphael-db::before { content: "\eabe"; }
.gs-raphael-opensource::before { content: "\eabf"; }
.gs-raphael-search::before { content: "\eac0"; }
.gs-ri-bluesky-fill::before { content: "\eac1"; }
.gs-ri-mastodon-fill::before { content: "\eac2"; }
.gs-ri-youtube-fill::before { content: "\eac3"; }
.gs-simple-icons-flatpak::before { content: "\eac4"; }
.gs-solar-cpu-bold::before { content: "\eac5"; }
.gs-solar-gamepad-bold::before { content: "\eac6"; }
.gs-solar-panorama-bold-duotone::before { content: "\eac7"; }
.gs-solar-planet-2-bold::before { content: "\eac8"; }
.gs-solar-planet-3-bold::before { content: "\eac9"; }
.gs-solar-planet-4-bold::before { content: "\eaca"; }
.gs-solar-planet-bold::before { content: "\eacb"; }
.gs-solar-satellite-bold::before { content: "\eacc"; }
.gs-solar-square-academic-cap-2-bold::before { content: "\eacd"; }
.gs-solar-square-transfer-horizontal-bold::before { content: "\eace"; }
.gs-solar-transfer-horizontal-bold::before { content: "\eacf"; }
.gs-solar-video-frame-2-bold::before { content: "\ead0"; }
.gs-stash-article-solid::before { content: "\ead1"; }
.gs-streamline-faq-bold::before { content: "\ead2"; }
.gs-streamline-galaxy-1-solid::before { content: "\ead3"; }
.gs-streamline-galaxy-2-solid::before { content: "\ead4"; }
.gs-tabler-badge-3d-filled::before { content: "\ead5"; }
.gs-tabler-home-filled::before { content: "\ead6"; }
.gs-tabler-home::before { content: "\ead7"; }
.gs-tabler-keyframe-align-vertical-filled::before { content: "\ead8"; }
.gs-tabler-keyframes-filled::before { content: "\ead9"; }
.gs-tabler-satellite::before { content: "\eada"; }
.gs-tabler-stars-filled::before { content: "\eadb"; }
.gs-tabler-stars::before { content: "\eadc"; }
.gs-tabler-view-360::before { content: "\eadd"; }
.gs-teenyicons-360-outline::before { content: "\eade"; }
.gs-teenyicons-360-solid::before { content: "\eadf"; }
.gs-token-unix::before { content: "\eae0"; }
.gs-uil-moon-eclipse::before { content: "\eae1"; }
.gs-uil-windows::before { content: "\eae2"; }


