summary h3 {
  font-variant: small-caps;
  padding-top: 0px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  display: inline;
}
summary h3:before {
  content: none;
}
summary h3 i {
  font-size: 0.6em;
  margin-left: 1em;
}
summary h3 code {
  color: var(--accent-color);
  font-variant: normal;
  font-size: 0.6em;
  font-weight: bold;
  text-shadow: none;
  background-color: var(--bg-color-light);
}
details {
  background-color: #2f2f2f;
  border-radius: 10px;
  margin-bottom: 1.8em;
}
details summary {
  background-color: #555;
  padding: 0.8em;
  border-radius: 10px;
}
details[open] summary {
  border-radius: 10px 10px 0 0;
}
details article {
  border-radius: 0 0 10px 10px;
  padding: 10px;
  
}
details summary::before { 
  margin-bottom: 0.25em;
  margin-right: 0.6em;
}
details article div.article-content {
  padding: 1em;
  background-color: var(--bg-color-light);
  border-radius: 1em;
}
details article div.description {
  margin-bottom: 1em;
}
details .unimportant {
  color: var(--text-dim-color);
  opacity: 0.3;
  font-family: monospace;
}
