  @font-face {
    font-family: Ethnocentric;
    src: url('/webfonts/ethnocentric.ttf');
  }
  @font-face {
    font-family: Inter;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    src: url('/webfonts/Inter.ttf');
  }
/* var text-decoration */
/*--
	Common Css
--*/
@view-transition {
  navigation: auto;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes old-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes new-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
&::view-transition-old(root) {
  animation-name: old-out;
  animation-duration: 1s;
}

&::view-transition-new(root) {
  animation-name: new-in;
  animation-duration: 1s;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: var(--text-dim-color);
}
main {
  background-color: var(--bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant: small-caps;
  margin-top: 0;
  padding-top: 0.7em;
  text-shadow: 2px 2px 2px black;
}
h1 {
  font-size: 3.5em;
  font-weight: 600;
}
h2 {
  font-size: 3em;
  font-weight: 600;
}
h3 {
  font-size: 2em;
  font-weight: 500;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  list-style: disc outside;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color) !important;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--code-color);
  background-color: #343434;
  border-radius: 4px;
}
a code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--link-color);
  background-color: #343434;
  border-radius: 4px;
}
button.btn-default,
button.btn {
  width: 50%;
  background-image: linear-gradient(to bottom, var(--button1-color), var(--button2-color));
  border: none;
  color: white;
  padding: 10px 15px;
  margin: auto;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
  text-shadow: 2px 2px 2px black;
}
button:hover {
  color: white !important;
  border: none !important;
  background-image: linear-gradient(to bottom, var(--accent-color), black);
}
button:active {
  outline: 0 !important;
  color: white !important;
  background-image: linear-gradient(to bottom, var(--accent-color), black) !important;
  border: none !important;
  box-shadow: 0px 0px 5px black;
  transform: translateY(4px);
}
button:focus {
  outline: 0 !important;
}
figcaption h4 {
  color: var(--text-dim-color);
  font-style: italic;
  font-weigth: 100;
  font-size: 13px;
}
hr {
  border: 0.01em solid var(--text-dimmer-color);
}
details summary::before { 
  content:"";
  width: 13px;
  height: 7px;
  margin-bottom: 0.25em;
  margin-right: 0.6em;
  background: url('/img/ui/arrow.svg') no-repeat;
  background-size: cover;
  transition: 0.2s;
  display: inline-block;
  transform: rotate(-90deg);
}
details[open] summary::before { 
  content:"";
  transform: rotate(0deg);
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.center-text {
  text-align: center;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  font-size: 2.8em;
  font-weight: 600;
}
.section-title p {
  font-family: serif;
  font-style: italic;
  color: var(--text-dim-color);
}
i[class^='gs-'] {
  position: relative;
  top: 0.1em;
}
/*--
	Header Start
--*/
header {
  background: #000;
  color: #fff;
  padding: 5px 0px 3px 0px;
  position: sticky;
  top: 0;
  z-index: 30;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
  min-height: 30px;
}
header .navbar-brand {
  margin-top: -0.1em;
  margin-left: 0px !important;
  padding-top: 0px;
  height: 30px;
}
header .navbar-brand>img {
  display: block;
  width: 30px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 0px;
}
header .navbar-default .navbar-nav li a {
  color: var(--text-dim-color);
  padding: 0.3em 0.8em;
  font-size: 1.05em;
  font-variant: small-caps;
  font-weight: 500;
}
header .navbar-default .navbar-nav i[class^='gs-'] {
  font-size: 1em;
}
header .navbar-default .navbar-collapse {
  border: none;
}
button.navbar-toggle {
  padding: 7px 7px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: var(--accent-color) !important;
}
header .navbar-default .navbar-nav li a.active{
  color: var(--text-color);
  text-shadow: 1px 1px 3px black;
  background-image: linear-gradient(to bottom, var(--button1-color), var(--button2-color));
  border-radius: 1em;
}
header .navbar-default .navbar-nav li a.active:hover{
  color: var(--text-color) !important;
  background: var(--link-color);
  background-image: linear-gradient(to bottom, var(--accent-color), black);
}
/** Table of contents **/
aside#toc {
  margin-top: 1em;
  border-radius: 10px;
  background-color: var(--bg-color-light);
  padding: 0.5em 1em;
}
aside#toc h4 {
  display: inline;
  padding-top: 0;
}
aside#toc nav {
  padding-top: 1em;
  border-top: 1px solid var(--text-dimmer-color);
}
aside#toc nav#TableOfContents ul {
  column-width: 26em;
}
aside#toc nav#TableOfContents li {
  display: list-item;
  list-style: "➞ " inside none;
}
aside#toc nav#TableOfContents li li {
  list-style: "➝ " inside none;
}
aside#toc nav#TableOfContents li a {
  color: var(--text-dim-color);
}
 /** Breadcrumbs **/
div#breadcrumbs ul {
  margin-left: 0;
  display: flex;
  list-style-type: '↠ ';
}
div#breadcrumbs ul > :first-child {
  list-style-type: none;
}
div#breadcrumbs ul li {
  margin-right: 1.3em;
}
div#breadcrumbs ul li a {
  font-size: 1.1em;
}
div#breadcrumbs ul >  li:first-child {
}
.container div#breadcrumbs {
  margin-top: 15px;
  margin-left: -15px;
}
/*---------------------------------------------
					Index Start
-----------------------------------------------*/
/*--
	Slider Start
--*/
#slider {
  background: url("../img/backgrounds/aurora.avif") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 40px 0 90px 0;
  position: relative;
}
#slider:before {
  content: "";
  background-color: transparent;
  background-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #8b86a3, #322e40);
  opacity: 0.4;
}
#slider .block {
  color: #E3E3E4;
}
#slider .block img {
  float: left;
  margin-top: 3em;
  margin-right: 2em;
  width: 11em;
  filter: drop-shadow(5px 5px 5px black);
}
#slider .block h1 {
  font-family: 'Ethnocentric', sans-serif;
  font-weight: 100;
  font-size: 4.5em;
  line-height: 50px;
  letter-spacing: 0.2em;
  padding-bottom: 20px;
  text-shadow: 5px 5px 5px black, 0px 0px 15px black;
}
#slider .block h1:before {
  content: '';
  margin: 0;
  background-color: transparent;
  background-size: 0;
  width: 0;
  height: 0;
  mask-image: none;
  -webkit-mask-image: none;
}
#slider .block p {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px black, 0px 0px 5px black;
}
#slider .col-md-download {
  margin-top: 7em;
  /* text-align: center; */
}
#slider button#download-button span.title {
  font-size: 1.6em;
}
#slider button#download-button span.title i[class^='gs-'] {
  position: relative;
  top: 0.1em;
}
#slider button#download-button span.subtext.releasedate {
  font-weight: 200;
  color: var(--text-dim-color);
}
#slider svg.separator-round {
  width: 100%;
  position: absolute;
  left:0;
  bottom: 0;
  fill: var(--bg-color);
}
/*--
	intro Start
--*/
section#intro {
  padding: 60px 0;
}
section#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
section#intro .block p {
  color: var(--text-dim-color);
  padding-top: 20px;
}
section#intro .block img {
  padding-left: 40px;
  width: 90%;
}
section#intro .section-title {
  margin-bottom: 0px;
}
section#intro .section-title p {
  padding-top: 20px;
}
/*--
	Features Start
--*/
section#features {
  text-align: center;
  padding: 70px 0 10px 0;
}
section#features .features-item {
  padding-bottom: 6em;
}
section#features .features-item i[class^='gs-'],
section#features .features-item i {
  font-size: 5.7em;
  color: var(--accent-color);
}
section#features .features-item h4 {
  padding-top: 20px;
  margin: 0;
  color: var(--text-color);
}
section#features .features-item p {
  color: var(--text-dim-color);
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}
/*--
	Links Start
--*/
section#links {
  text-align: center;
  padding: 70px 0 10px 0;
}
section#links .links-item {
  text-align: left;
  padding-bottom: 2.4em;
}
section#links .links-item i[class^='gs-'] {
  font-size: 4em;
  color: var(--accent-color);
  float: left;
  margin-right: 0.5em;
  margin-top: -0.3em;
}
section#links div.links-item div {
  display: grid;
}
section#links .links-item h4 {
  padding-top: 0;
  margin: 0;
  color: var(--link-color);
}
section#links .links-item p {
  color: var(--text-dim-color);
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}
/*--
	Datasets Start
--*/
section#datasets {
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;
  color: white;
  text-shadow: 2px 2px 2px black;
}
section#datasets h2 {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: -0.3em;
}
section#datasets p {
  color: #8d8f92;
  margin-bottom: 20px;
}
.btn-view-works {
  border: 0px;
  background-image: linear-gradient(to bottom, var(--button1-color), var(--button2-color));
  color: #fff;
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 20px;
  text-shadow: 2px 2px 2px black;
}
.btn-view-works:hover {
  color: white !important;
  background-image: linear-gradient(to bottom, var(--accent-color), black);
}
.btn-view-works:active {
  background-image: linear-gradient(to bottom, var(--accent-color), black);
  box-shadow: 0px 0px 5px black;
  transform: translateY(4px);
}
div.datasets-box {
  background: rgba(0.2, 0.2, 0.2, 0.5);
  padding: 1px 10px 15px 10px;
  border-radius: 20px;
  color: var(--text-dim-color);
}
div.datasets-box i[class^='gs-'] {
  position: relative;
  top: 0.1em;
}
/*---------------------------------------------
					Work Start
-----------------------------------------------*/
.random-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}
/*--
	Slider-work Start
--*/
#global-header {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  background-color: transparent;
  background-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1.0;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 16.6%;
}
#global-header .block h1 {
  font-family: 'Ethnocentric';
  text-shadow: 5px 5px 5px black, 0px 0px 15px black;
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block h1:before {
  content: "";
  margin: 0;
  background-color: transparent;
  background-size: 0;
  width: 0;
  height: 0;
}
#global-header .block p {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px black, 0px 0px 5px black;
}
/*
 latest news Start
*/
section#latestnews .row {
  margin-top: 1em;
  background-color: var(--bg-color-light);
  border-radius: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 10px black;
}
section#latestnews .section-title h2 {
  padding-top: 0.3em;
}
section#latestnews .section-title {
  margin-bottom: 0px;
}
section#latestnews .title {
  font-size: 1.2em;
  font-weight: 800;
}
section#latestnews article {
  margin-bottom: 1em;
}
/*--
	wrapper-work Start
--*/
#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}
/*--
	features-work Start
--*/
#features-work {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-work .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
					Social icons
-----------------------------------------------*/
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}
/*--
	features-contact Start
--*/
#features-contact {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-contact .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
					Contact Close
-----------------------------------------------*/
/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*--------- Footer ------------*/
svg.separator-round {
  margin-bottom: -0.1em;
}
footer {
  background: #000;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: -5px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: var(--text-dim-color);
}
footer a {
  color: var(--link-color);
}
footer .footer-social ul {
  margin: 0px;
  margin-bottom: 0.3em;
  padding: 0px;
}
footer .footer-social ul li {
  font-size: 2.2em;
  display: inline-block;
  padding: 0 0.2em;
}
footer .footer-social ul li a {
  display: inline-block;
  color: var(--link-color);
}
footer .footer-social ul li a:hover {
  color: var(--accent-color);
}
footer .ce-row {
  margin-bottom: 1em;
  display: inline-block;
}
footer .ce-column {
  margin: 0 0.4em;
  float: left;
}
footer img.ack-img {
  width: 4em;
  height: 4em;
  filter: invert(1);
}
footer ul.bottomlinks {
  column-width: 11rem;
  column-gap: 25px;
  line-height: 1.8rem;
  margin: 2em 15em;
  align: center;
}
footer ul.bottomlinks li {
  display: block;
  list-style: none;
  text-align: left;
  white-space: nowrap;
}
footer ul.bottomlinks li a {
  font-size: 1.1em;
  font-weight: 800;
  color: var(--text-color);
}
section#post-content,
div.page-content {
  margin: 1em 30em 5em 30em;
}
div.hint {
  background: var(--accent-dark-color);
  color: var(--text-color);
  padding: 1em 1em 0.4em 1em;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
}
div.hint .hint-title {
  font-size: 1.4em;
  font-variant-caps: small-caps;
}
.page-content table th {
  font-size: 1.3em;
  color: var(--text-color);
}
.page-content table td {
  padding: 0.1em 0.6em 0.1em 0;
}
#post-content p {
  margin-top: 1em;
}
#post-content figure {
  margin-top: 1.5em;
}
#post-content .post-info-wrapper {
  color: var(--text-dim-color);
  font-weight: 100;
}
#post-content .title {
  margin-bottom: 0em;
}
div.post-area article {
  margin-top: 5em;
}
div.post-area a.bold {
 font-variant-caps: small-caps;
 font-size: 3.2em;
 font-weight: 800;
}
div.post-area {
  padding: 1em 30em;
  width: 100%;
  min-height: 100px;
  background-color: var(--bg-color);
}
p.posts-list-button {
  font-variant: small-caps;
  font-size: 1.5em;
  background-color: var(--bg-color-light);
  border-radius: 10px;
  margin-top: 1em;
}
div.posts-list {
  padding: 1em 30em 5em 30em;
  background-color: var(--bg-color);
}
div.post-area a,
div.posts-list a {
  font-size: 1.1em;
}
div.posts-list .details {
}
div.post-area a:hover {
  color: var(--accent-color);
}
figure.float-left {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
}
figure.fig-left {
  text-align: left;
}
figure.fig-left figcaption {
  width: 100% !important;
  margin: 0 !important;
}
figure.fig-center {
  text-align: center;
}
figure.fig-post picture img {
  width: 50%;
  min-width: 266px;
}
figure.vid-post video {
  width: 50%;
  min-width: 266px;
}
/*--------- Pagination ------------*/
.pagination {
  text-align: center;
}
.pagination .next {
  margin-left: 2em;
}
.pagination .next i[class^='gs-'] {
  font-size: 1em;
  position: relative;
  top: 0.1em;
}
.pagination .prev i[class^='gs-'] {
  font-size: 1em;
  position: relative;
  top: 0.1em;
}
div.title {
  margin-bottom: 2em;
}
div.title description {
  font-style: italic;
  color: var(--text-dimmer-color);
}
time.published {
  font-weight: 100;
}
i[class^='gs-'].last-update {
  font-size: 1em;
  margin-left: 0.2em;
  color: var(--text-dimmer-color);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
/** ICON SIZES **/
.icon-11 {
  font-size: 1.1em;
}
.icon-12 {
  font-size: 1.2em;
}
.icon-13 {
  font-size: 1.3em;
}
.icon-14 {
  font-size: 1.4em;
}
.icon-15 {
  font-size: 1.5em;
}
.icon-16 {
  font-size: 1.6em;
}
.icon-17 {
  font-size: 1.7em;
}


/* ------------------------------- */
/*         RESPONSIVE              */
/* ------------------------------- */

@media only screen and (min-width: 991px) and (max-width: 1500px) {
  aside#toc {
    display: none;
  }
  .post-area {
    padding: 1em 15em !important;
  }
  .posts-list {
    padding: 1em 15em !important;
  }
  section#post-content,
  div.page-content {
    margin: 2em 20em !important;
  }
}
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #global-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  #global-header .block h1 {
    font-size: 2.0em;
  }
  #global-header .block p {
    font-size: 1.3em;
  }
  aside#toc {
    display: none;
  }
  section#post-content,
  div.page-content {
    margin: 1em 10em !important;
  }
  .post-area {
    padding: 1em 5em !important;
  }
  .posts-list {
    padding: 1em 5em !important;
  }
  /** ---------- Menu -----------------**/
  header .navbar-default .navbar-nav li a {
    font-size: 0.7em;
  }
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  /* Latest news */
  section#latestnews .section-title h2 {
    font-size: 2.1em !important;
  }
  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
  }
  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }
  /*--
	content Start 
--*/
  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }
  /*--
	features Start 
--*/
  #features {
    text-align: center;
  }
  /*--
	footer Start 
--*/
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }
  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/
  /*--
	slider-work Start 
--*/
  #slider-work .block h1 {
    font-size: 28px;
  }
  #slider-work .block p {
    font-size: 15px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper-work ul li .items-text {
    padding-top: 0;
    padding-left: 25px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }
  /*--
	features Start 
--*/
  #features-work .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact start 
-----------------------------------------------*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					contact close 
-----------------------------------------------*/
  /*------------------*/
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  #global-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  #global-header .block h1 {
    font-size: 1.8em;
  }
  #global-header .block p {
    font-size: 1.2em;
  }
  aside#toc {
    display: none;
  }
  #breadcrumbs {
    display: none;
  }
  section#post-content,
  div.page-content {
    margin: 1em 5em !important;
  }
  .post-area {
    padding: 1em !important;
  }
  .posts-list {
    padding: 1em !important;
  }
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .heading {
    padding-left: 0px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 13px;
  }
  /* --------------------------------
    Posts
  -----------------------------------*/
  section#post-content h1,
  div.post-area article {
    margin-top: 2em;
  }
  div.post-area a.bold {
    font-size: 2.2em;
  }
  section#post-content .post-info-wrapper,
  section#post-content div.title description {
    margin-left: 1.3em;
  }
  header .navbar-default .navbar-toggle {
    margin-bottom: 0px;
    margin-top: -1px;
  }
  button.navbar-toggle {
    background-color: var(--bg-color) !important;
  }
  button.navbar-toggle:hover {
    background-color: var(--bg-color-light) !important;
    background-image: none !important;
    border: 1px solid #ddd !important;
  }
  button.navbar-toggle:active {
    background-image: none !important;
    border: 1px solid #ddd !important;
  }
  #slider {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block img {
    display: none;
  }
  #slider .block h1 {
    font-size: 45px;
    text-shadow: 3px 3px 5px black;
    padding-bottom: 10px;
  }
  #slider .block p {
    font-size: 1.8em;
  }
  #slider .col-md-download {
    margin-top: 3em;
    /* text-align: center; */
  }
  #slider button#download-button {
    width: 100%;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: auto;
    cursor: pointer;
    font-size: 1.0em;
    border-radius: 10px;
  }
  #slider button#download-button span.title {
    font-size: 1.3em;
  }
  /* Latest news */
  section#latestnews .section-title h2 {
    font-size: 1.6em !important;
  }
  section#latestnews .title {
    font-size: 1.0em;
  }
  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }
  /*--
	content Start 
--*/
  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }
  /*--
	features Start 
--*/
  #features .features-img {
    text-align: center;
  }
  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/
  #slider-work {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-work .block {
    padding-left: 0px;
  }
  #slider-work .block h1 {
    font-size: 20px;
  }
  #slider-work .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper-work ul li {
    float: none;
    width: 100%;
  }
  #wrapper-work ul li .items-text {
    padding-left: 15px;
    padding-top: 30px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
	features Start 
--*/
  #features-work .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*--
	wrapper-contact Start 
--*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  #wrapper-contact .block .location p {
    width: 100%;
  }
  #wrapper-contact .block .social-media-icon a i {
    padding-top: 30px;
  }
  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					contact close 
-----------------------------------------------*/
  /*--
	footer Start 
--*/
  footer ul.bottomlinks {
    margin: 2em 5em;
  }
  section#datasets h2 {
    font-size: 1.8em;
  }
  section#intro h2 {
    font-size: 1.8em;
  }
  section#features h2 {
    font-size: 1.8em;
  }
  section#links h2 {
    font-size: 1.8em;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (max-width: 480px) {
  #breadcrumbs {
    display: none;
  }
  #global-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #global-header .block {
    padding-left: 5%;
  }
  #global-header .block h1 {
    font-size: 1.5em;
  }
  #global-header .block p {
    font-size: 1.0em;
  }
  #slider .block h1 {
    font-size: 1.6em;
    text-shadow: 3px 3px 5px black;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  #slider .block p {
    font-size: 1.2em;
  }
  #slider .col-md-download {
    margin-top: 2em;
    /* text-align: center; */
  }
  #slider button#download-button {
    width: 100%;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: auto;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 10px;
  }
  #slider button#download-button > span.title {
    font-size: 1.5em;
  }
  section#post-content,
  div.page-content {
    margin: 0.5em 0.8em !important;
  }
  aside#toc {
    display: none;
  }
  /* --------------------------------
    Posts
  -----------------------------------*/
  section#post-content h1,
  div.post-area a.bold {
    font-size: 1.7em;
  }
  section#post-content .post-info-wrapper,
  section#post-content div.title description {
    margin-left: 1.0em;
  }
  .posts-list {
    padding: 0.8em !important;
  }
  .posts-list div {
    padding-bottom: 0.5em;
  }
  .posts-list a {
    display:block;
  }
  section#datasets h2 {
    font-size: 1.6em;
  }
  section#intro h2 {
    font-size: 1.6em;
  }
  section#features h2 {
    font-size: 1.6em;
  }
  section#links h2 {
    font-size: 1.6em;
  }
  footer ul.bottomlinks {
    margin: 2em 2em;
  }
  footer img.ack-img {
    width: 4em;
    height: 4em;
  }
}
