.download-container {
  background-color: var(--bg-color-light);
  max-width: 630px;
}
.download-button {
  margin-right: 2em;
  max-width: 370px;
}
section.release-notes {
  padding: 0em 2em 2em 2em;
  background-color: var(--bg-color-dark);
  border-radius: 20px;
  margin-top: 2em;
}
section.release-notes ul {
  margin-left: 18px;
}

/* Releases index */
section.releases-list {
  background-color: var(--bg-color-light);
  box-shadow: 5px 5px 10px black;
  padding: 1em;
  border-radius: 20px;
}
section.releases-list i.fa-tag{
  font-size: 1.8em;
  color: var(--accent-color);
  margin-right: 0.2em;
}
section.releases-list div.releaseentry {
  margin-bottom: 1em;
  background-color: var(--bg-color-dark);
  border-radius: 20px;
  padding: 0.5em;
} 
section.releases-list div.release {
  display: inline;
  font-size: 1.8em;
}
section.releases-list code.build {
  color: var(--code-color);
  background-color: var(--bg-color-dark);
  filter: brightness(2.0);
}
section.releases-list div.releasedate {
  display: block;
  margin-left: 2.3em;
}
section.releases-list div.releasedate time {
  font-family: monospace;
  font-weight: 800;
  color: var(--text-dim-color);
}
