@media only screen and (min-width: 991px) and (max-width: 1500px) {
  div.page-content {
    margin: 2em 20em !important;
  }
  .post-area {
    padding: 1em 15em !important;
  }
  .posts-list {
    padding: 1em 15em !important;
  }
}
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #global-header .block h1 {
    font-size: 2.0em;
  }
  #global-header .block p {
    font-size: 1.3em;
  }
  div.page-content {
    margin: 1em 10em !important;
  }
  .post-area {
    padding: 1em 5em !important;
  }
  .posts-list {
    padding: 1em 5em !important;
  }
  /** ---------- Menu -----------------**/
  header .navbar-default .navbar-nav li a {
    font-size: 0.7em;
  }
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
  }
  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }
  /*--
	content Start 
--*/
  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }
  /*--
	features Start 
--*/
  #features {
    text-align: center;
  }
  /*--
	footer Start 
--*/
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }
  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/
  /*--
	slider-work Start 
--*/
  #slider-work .block h1 {
    font-size: 28px;
  }
  #slider-work .block p {
    font-size: 15px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper-work ul li .items-text {
    padding-top: 0;
    padding-left: 25px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }
  /*--
	features Start 
--*/
  #features-work .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact start 
-----------------------------------------------*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					contact close 
-----------------------------------------------*/
  /*------------------*/
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  #global-header .block h1 {
    font-size: 1.8em;
  }
  #global-header .block p {
    font-size: 1.2em;
  }
  div.page-content {
    margin: 1em 5em !important;
  }
  .post-area {
    padding: 1em !important;
  }
  .posts-list {
    padding: 1em !important;
  }
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .heading {
    padding-left: 0px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 13px;
  }
  /* --------------------------------
    Posts
  -----------------------------------*/
   div.post-area a.bold {
    font-size: 2.2em;
   }
  header .navbar-default .navbar-toggle {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  button.navbar-toggle:hover {
    background-image: none !important;
    border: 1px solid #ddd !important;
  }
  button.navbar-toggle:active {
    background-image: none !important;
    border: 1px solid #ddd !important;
  }
  #slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
    font-size: 45px;
    text-shadow: 3px 3px 5px black;
  }
  #slider .block p {
    font-size: 1.8em;
  }
  #slider .col-md-download {
    margin-top: 3em;
    /* text-align: center; */
  }
  #slider button#download-button {
    width: 100%;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: auto;
    cursor: pointer;
    font-size: 1.0em;
    border-radius: 10px;
  }
  #slider button#download-button > span.title {
    font-size: 1.3em;
  }
  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }
  /*--
	content Start 
--*/
  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }
  /*--
	features Start 
--*/
  #features .features-img {
    text-align: center;
  }
  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/
  #slider-work {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-work .block {
    padding-left: 0px;
  }
  #slider-work .block h1 {
    font-size: 20px;
  }
  #slider-work .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper-work ul li {
    float: none;
    width: 100%;
  }
  #wrapper-work ul li .items-text {
    padding-left: 15px;
    padding-top: 30px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
	features Start 
--*/
  #features-work .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact Start 
-----------------------------------------------*/
  /*--
	slider-contact Start 
--*/
  #slider-contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-contact .block {
    padding-left: 0px;
  }
  #slider-contact .block h1 {
    font-size: 20px;
  }
  #slider-contact .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	wrapper-contact Start 
--*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  #wrapper-contact .block .location p {
    width: 100%;
  }
  #wrapper-contact .block .social-media-icon a i {
    padding-top: 30px;
  }
  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					contact close 
-----------------------------------------------*/
  /*--
	footer Start 
--*/
  section#datasets h2 {
    font-size: 1.8em;
  }
  section#intro h2 {
    font-size: 1.8em;
  }
  section#features h2 {
    font-size: 1.8em;
  }
  section#links h2 {
    font-size: 1.8em;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (max-width: 480px) {
  #global-header .block {
    padding-left: 5%;
  }
  #global-header .block h1 {
    font-size: 1.5em;
  }
  #global-header .block p {
    font-size: 1.0em;
  }
  #slider .block h1 {
    font-size: 1.6em;
    text-shadow: 3px 3px 5px black;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  #slider .block p {
    font-size: 1.2em;
  }
  #slider .col-md-download {
    margin-top: 2em;
    /* text-align: center; */
  }
  #slider button#download-button {
    width: 100%;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: auto;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 10px;
  }
  #slider button#download-button > span.title {
    font-size: 1.5em;
  }
  div.page-content {
    margin: 0.5em 0.8em !important;
  }
  /* --------------------------------
    Posts
  -----------------------------------*/
   div.post-area a.bold {
    font-size: 1.7em;
   }
  .posts-list {
    padding: 0.8em !important;
  }
  .posts-list div {
    padding-bottom: 0.5em;
  }
  .posts-list a {
    display:block;
  }
  section#datasets h2 {
    font-size: 1.6em;
  }
  section#intro h2 {
    font-size: 1.6em;
  }
  section#features h2 {
    font-size: 1.6em;
  }
  section#links h2 {
    font-size: 1.6em;
  }
  footer img.ack-img {
    width: 4em;
    height: 4em;
  }
}
