div.search-container {
 text-align: center;
}
input#search {
  width: 100%;
  margin: auto;
  background-color: var(--bg-color-light);
  border: 2px solid var(--text-dim-color);
  font-size: 2em;
}
ul#searchresults {
  margin-top: 2em;
  font-size: 1.2em;
  padding: 1em;
  background-color: var(--bg-color-light);
  border-radius: 20px;
}
ul#searchresults li {
  list-style-type: none;
  margin-left: 1em;
}
