 :root {
   --text-color: #fff;
   --text-dim-color: #aaa;
   
   --accent-color: #e3a02a;
   --accent-dark-color: #956315;
   --second-color: #b5152b;
   --link-color: #ffeaa4;
   --link-hover-color: var(--accent-color);
   --download-button-color: #00626e;
 }

