 :root {
   --text-color: #fff;
   --text-dim-color: #aaa;
   
   --accent-color: #e3a02a;
   --accent-dark-color: #956315;
   --second-color: #b5152b;
   --link-color: #249ee8;
   --link-hover-color: var(--accent-color);
   --button1-color: #249ee8;
   --button2-color: #00121e;

   --bg-color-dark: #000;
   --bg-color: #101010;
 }

