 :root {
   --text-color: #fff;
   --text-dim-color: #aaa;
   --text-dimmer-color: #555;
   
   --accent-color: #e3a02a;
   --accent-dark-color: #956315;
   --second-color: #b5152b;
   --link-color: #249ee8;
   --link-hover-color: var(--accent-color);
   --code-color: #c7254e;
   --code-bg-color: #343434;
   --button1-color: #249ee8;
   --button2-color: #00121e;

   --bg-color-dark: #000;
   --bg-color: #181818;
   --bg-color-light: #262626;
 }

