 :root {
   --text-color: #fff;
   --text-dim-color: #aaa;
   
   --accent-color: #0F9D58;
   --accent-dark-color: #075f34;
   --second-color: #b5152b;
   --link-color: #249ee8;
   --link-hover-color: #e3a02a;
   --button1-color: #249ee8;
   --button2-color: #00121e;

   --bg-color-dark: #000;
   --bg-color: #101010;
   --bg-color-light: #202020;
 }

