<!DOCTYPE html>
<html>

<head>
  {{ partial "head" . }}
</head>

<body>
  {{ partial "header" . }}

  {{ partial "global-header" .Site.Params.postslist }}

  <main>
    <div class="posts-list">
      {{ partial "breadcrumbs" . }}
      <p class="center-text posts-list-button"><a href="/news"><i class="i majesticons:article"></i> Expanded list</a>
      </p>
      <!-- Paginate and loop through the pages -->
      {{ range (where .Site.Pages "Type" "news").GroupByDate "2006" }}
      <h2>{{ .Key }}</h2>
      {{ range where .Pages "Params.hidden" "!=" true }}
      <div>
        <a href="{{ .RelPermalink }}" title="{{ .Title | markdownify }}" class="bold">{{ .Title | markdownify | truncate
          55 }}</a>
        <span class="details">By <span class="author bold">{{ .Params.author }}</span> on <time class="published"
            datetime="{{ .Date }}" title="Published: {{ .Date }}">{{ .Date.Format .Site.Params.date_format
            }}</time>
          {{ if and (.GitInfo) (ne (.GitInfo.AuthorDate) .Date) }}
							<i class="i mingcute:pen-fill last-update" aria-hidden="true" title="Updated: {{ .GitInfo.AuthorDate }}"></i>
          {{ end }}
        </span>
      </div>
      {{- end -}}
      {{ end }}
    </div>

  </main>

  {{ partial "footer.html" . }}

</body>

</html>
