<!DOCTYPE html>
<html>

<head>
	{{ partial "head" . }}
</head>

<body>
	{{ partial "header" . }}

	<main>
		<div class="post">
			<!-- Wrapper Start -->
			<section id="post-content">
				{{ partial "breadcrumbs" . }}
				{{ partial "toc" . }}
				<div>
					<div class="block">
						{{ if not (isset .Params "showtitle") | or (ne .Params.showtitle false) }}
						<div class="title">
							<h1>{{ .Params.Title }}</h1>
							<description>{{ .Params.Description }}</description>
						</div>
						{{ end }}
						<div class="post-info-wrapper">
							<p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{
									.Date.Format .Site.Params.date_format }}</span></p>
						</div>
						<hr />
						<p>{{ .Content }}</p>
					</div>
				</div><!-- .col-md-7 close -->
			</section>
		</div>
	</main>
	<p class="center-text" style="padding: 30px;">
		<i class="fa-solid fa-circle-arrow-left"></i> <a href="/news">Back to news</a>
	</p>


	{{ partial "footer.html" . }}
</body>

</html>