<!DOCTYPE html>
<html>

<head>
  {{ partial "head" . }}
</head>

<body>
  {{ partial "header" . }}

  <div class="wrapper">
    <main>
      <div class="page-content">
        {{ partial "breadcrumbs" . }}
        <div class="title">
          <h1>Tags</h1>
        </div>

        <ul>
          {{ range .Data.Terms.ByCount }}
          <li>
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            <span>({{ .Count }})</span>
          </li>
          {{ end }}
        </ul>
      </div>
    </main>
  </div>

  {{ partial "footer.html" . }}
</body>

</html>