<!DOCTYPE html>
<html>

<head>
	{{ partial "head.html" . }}
</head>

<body>
	{{ partial "header.html" . }}

	{{ partial "global-header.html" .Site.Params.news }}

	<main>
		{{ range .Data.Pages }}
		<div class="post-area">
			<a href="{{ .Permalink }}" class="bold">{{ .Title }}</a>
			<p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{
					.Date.Format .Site.Params.date_format }}</span></p>
			<p>{{ .Summary }}</p>
		</div>
		{{ end }}
	</main>

	{{ partial "footer.html" . }}

</body>

</html>