<section id="docs" class="random-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <div class="docs-box">
          <h2 class="text-uppercase">{{ .Site.Params.docs.title }}</h2>
          <div>
            {{ .Site.Params.docs.content | markdownify }}
          </div>
          {{ with .Site.Params.docs.button }}
          <a href="{{ .url }}" class="btn btn-view-works">{{ .caption }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>