<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
          <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
        </div>
        <div class="col-md-download">
          <a href="{{ .Site.Params.slider.buttonurl | safeHTML }}">
            <button id="download-button" class="btn" aria-label="Download {{ .Title }}">
              <span class="title"><i class="gs-mdi-box-download"></i>
                {{ .Site.Params.slider.buttonTitle | safeHTML }}
                <b>{{ .Site.Params.version | safeHTML }}</b></span><br>

              <span class="subtext">linux | windows | macos | tgz</span><br>
              <span class="subtext releasedate">release date: {{ .Site.Params.Release.Date | safeHTML }}</span><br>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <svg class="separator-round" viewBox="0 0 300 10" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs1">
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath1">
        <rect style="fill:#b43b3b;fill-opacity:1;stroke-width:0.00635" id="rect2" width="299.9993" height="29.660421"
          x="0" y="0.33865452" />
      </clipPath>
    </defs>
    <g id="layer1">
      <ellipse style="fill-opacity:1;stroke-width:0.00619539" id="path2" cx="150.07234" cy="69.112022" rx="309.32037"
        ry="67.588165" />
    </g>
  </svg>
</section>