<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ .Site.Params.wrapper.italic | markdownify }}</p>
          </div>
          <p>{{ .Site.Params.wrapper.paragraph | markdownify }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <picture>
            <source srcset="{{ .Site.Params.wrapper.imagejxl }}" type="image/jxl">
            <source srcset="{{ .Site.Params.wrapper.imageavif }}" type="image/avif">
            <img src="{{ .Site.Params.wrapper.image }}" alt="A procedurally-generated planet.">
          </picture>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>