<!DOCTYPE html>
<html>

<head>

  {{ partial "head.html" . }}

</head>

<body>
  {{ partial "header.html" . }}

  <!-- Main -->
  <main>
    <div class="post-area">
      <article class="post">
        <h1><i class="fa fa-ambulance"></i> Page not found: 404! </i></h1>
        <p>
          Sorry, I can't find that page <i class="fa fa-frown"></i>
        </p>
        <p>
          <a href="/">Back home</a>
        </p>
      </article>
    </div>
  </main>

  {{ partial "footer.html" . }}

</body>

</html>